extends layouts/main

block content
    if loggedUser
        a(href="/post") 작성하기
    else
        a(href="/login") 작성하기
    if loggedUser
        a(href="") 내 프로필
    else
        .SignInBox
            a(href="/login") 로그인 하기
            a(href="/join") 아이디 만들기
    .link__board
        a(href=`/post${routes.postList}`) 다른 사람들은 무슨 고민을 하고 있을까?
        